div {
  background-color: peachpuff;
  color: rgb(105, 105, 105);
  font-family: Verdana, sans-serif;
  font-size: 25px;
}

.header {
  font-size: 50px;
  font-family: 'Brush Script MT', sans-serif;
  color: rgb(21, 139, 218);
  text-align: center;
}

.header.para {
  font-size: 20px;
  font-family: Georgia, sans-serif;
}

.mainimg {
  height: auto;
  width: 90px;
}
.recipelink {
  font-size: 20px;
  font-family: 'Courier New', sans-serif;
  text-align: center;
}

.about {
  font-size: 15px;
  color: black;
  text-align: center;
}

.subheader {
  background-color: rgb(21, 139, 218);
  color: black;
}

.orange {
  background-color: rgb(252, 164, 0);
}

.burger {
  background-color: rgb(210, 153, 20);
}

.lemonade {
  background-color: rgb(255, 245, 45);
}

.burgimg {
  height: auto;
  width: 400px;
}

.burger.ing {
  color: rgb(133, 82, 0);
}

ol li {
  color: black;
}